In [1]:
import requests
import pandas as pd

# Crawling the list of listed companies

In [2]:
import requests
import pandas as pd

# List of listed companies
res = requests.get("http://isin.twse.com.tw/isin/C_public.jsp?strMode=2")
df = pd.read_html(res.text)[0]

# Set the column name
df.columns = df.iloc[0]
df.columns

Index(['有價證券代號及名稱', '國際證券辨識號碼(ISIN Code)', '上市日', '市場別', '產業別', 'CFICode',
       '備註'],
      dtype='object', name=0)

In [3]:
# Delete the first row
df = df.iloc[1:]
df

0          有價證券代號及名稱 國際證券辨識號碼(ISIN Code)         上市日 市場別   產業別 CFICode   備註
1                 股票                  股票          股票  股票    股票      股票   股票
2            1101　台泥        TW0001101004  1962/02/09  上市  水泥工業  ESVUFR  NaN
3            1102　亞泥        TW0001102002  1962/06/08  上市  水泥工業  ESVUFR  NaN
4            1103　嘉泥        TW0001103000  1969/11/14  上市  水泥工業  ESVUFR  NaN
5            1104　環泥        TW0001104008  1971/02/01  上市  水泥工業  ESVUFR  NaN
...              ...                 ...         ...  ..   ...     ...  ...
23912  01003T　兆豐新光R1        TW00001003T4  2005/12/26  上市   NaN  CBCIXU  NaN
23913  01004T　土銀富邦R2        TW00001004T2  2006/04/13  上市   NaN  CBCIXU  NaN
23914  01007T　兆豐國泰R2        TW00001007T5  2006/10/13  上市   NaN  CBCIXU  NaN
23915  01009T　王道圓滿R1        TW00001009T1  2018/06/21  上市   NaN  CBCIXU  NaN
23916  01010T　京城樂富R1        TW00001010T9  2018/12/05  上市   NaN  CBCIXU  NaN

[23916 rows x 7 columns]

In [8]:
stock_list = list(df['有價證券代號及名稱'])
stock_list[:11]

['股票',
 '1101\u3000台泥',
 '1102\u3000亞泥',
 '1103\u3000嘉泥',
 '1104\u3000環泥',
 '1108\u3000幸福',
 '1109\u3000信大',
 '1110\u3000東泥',
 '1201\u3000味全',
 '1203\u3000味王',
 '1210\u3000大成']

# Crawl the list of listed companies

In [9]:
# List of OTC Companies
res = requests.get("http://isin.twse.com.tw/isin/C_public.jsp?strMode=4")
df = pd.read_html(res.text)[0]
df

                     0                    1  ...          5          6
0            有價證券代號及名稱  國際證券辨識號碼(ISIN Code)  ...    CFICode         備註
1            上櫃認購(售)權證            上櫃認購(售)權證  ...  上櫃認購(售)權證  上櫃認購(售)權證
2     70001P　同致國票12售01         TW21Z70001P3  ...     RWSCPE        NaN
3     70002P　網家康和12售01         TW21Z70002P1  ...     RWSCPE        NaN
4     70003P　佳邦元大13售02         TW21Z70003P9  ...     RWSCPE        NaN
...                ...                  ...  ...        ...        ...
7055     01017S　93中信貸d         TW00001017S6  ...     DAVUBR        NaN
7056    01109S　051中租賃A         TW00001109S1  ...     DAFUBR        NaN
7057    01110S　051中租賃B         TW00001110S9  ...     DAFUBR        NaN
7058    01111S　081中租賃A         TW00001111S7  ...     DAFUFR        NaN
7059    01112S　081中租賃B         TW00001112S5  ...     DAFUFR        NaN

[7060 rows x 7 columns]

In [10]:
# Set the column name
df.columns = df.iloc[0]
df.columns

Index(['有價證券代號及名稱', '國際證券辨識號碼(ISIN Code)', '上市日', '市場別', '產業別', 'CFICode',
       '備註'],
      dtype='object', name=0)

In [11]:
# Delete the first row
df = df.iloc[1:]
df

0             有價證券代號及名稱 國際證券辨識號碼(ISIN Code)  ...    CFICode         備註
1             上櫃認購(售)權證           上櫃認購(售)權證  ...  上櫃認購(售)權證  上櫃認購(售)權證
2      70001P　同致國票12售01        TW21Z70001P3  ...     RWSCPE        NaN
3      70002P　網家康和12售01        TW21Z70002P1  ...     RWSCPE        NaN
4      70003P　佳邦元大13售02        TW21Z70003P9  ...     RWSCPE        NaN
5     70004P　環球晶元大13售03        TW21Z70004P7  ...     RWSCPE        NaN
...                 ...                 ...  ...        ...        ...
7055      01017S　93中信貸d        TW00001017S6  ...     DAVUBR        NaN
7056     01109S　051中租賃A        TW00001109S1  ...     DAFUBR        NaN
7057     01110S　051中租賃B        TW00001110S9  ...     DAFUBR        NaN
7058     01111S　081中租賃A        TW00001111S7  ...     DAFUFR        NaN
7059     01112S　081中租賃B        TW00001112S5  ...     DAFUFR        NaN

[7059 rows x 7 columns]

In [13]:
# Take out the stock code and name
stock_list += list(df['有價證券代號及名稱'])
stock_list[:10]

['股票',
 '1101\u3000台泥',
 '1102\u3000亞泥',
 '1103\u3000嘉泥',
 '1104\u3000環泥',
 '1108\u3000幸福',
 '1109\u3000信大',
 '1110\u3000東泥',
 '1201\u3000味全',
 '1203\u3000味王',
 '1210\u3000大成']

## Use the re module in python to extract only the stock name

In [16]:
stocks_list = []
import re
for i in range(0,len(stock_list)):
    r1 = '[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789’!"#$%&\'()*+,-./:;<=>?@，。?★、…【】《》？“”‘’！[\\]^_`{|}~]+'
    x = re.sub(r1, '', stock_list[i])
    
    #print(x)
    stocks_list.append(x.replace(u'\u3000',u''))

stocks_list.remove('股票')
print(len(stocks_list))
print(stocks_list[:10])

38033
['台泥', '亞泥', '嘉泥', '環泥', '幸福', '信大', '東泥', '味全', '味王', '大成', '大飲']

In [17]:
# remove the empty value
while True:
  try:
   stocks_list.pop(stocks_list.index(''))
  except ValueError:
    break

while True:
  try:
   stocks_list.pop(stocks_list.index('股票'))
  except ValueError:
    break

In [18]:
print(len(stocks_list))
print(stocks_list[:10])

38012
['台泥', '亞泥', '嘉泥', '環泥', '幸福', '信大', '東泥', '味全', '味王', '大成', '大飲']

## Use the filter() to extract only the stock code

In [19]:
stockcode_list = []
import re
for i in range(0,len(stock_list)):
    new = filter(str.isdigit, stock_list[i])
    stockcode_list.append(''.join(new))


stockcode_list.remove('')
print(stockcode_list[:10])

['1101', '1102', '1103', '1104', '1108', '1109', '1110', '1201', '1203', '1210']

In [20]:
path = 'Stocks_list.txt'
f = open(path, 'w')
for i in stocks_list:
  f.write(i+'\n')
f.close()

In [21]:
import json

with open('2018Stock(1).json',encoding="utf-8") as f:
     data = json.load(f)

In [22]:
articles_title = []
articles_date = []

for d in data['articles']:
  try:
    articles_title.append(d['article_title'])
    articles_date.append(d['date'])
  except:
    print(d)

{'error': 'invalid url'}

In [23]:
with open('2018Stock(2).json',encoding="utf-8") as f:
     data = json.load(f)
for d in data['articles']:
  try:
    articles_title.append(d['article_title'])
    articles_date.append(d['date'])
  except:
    print(d)

with open('20192020Stock(1).json',encoding="utf-8") as f:
     data = json.load(f)
for d in data['articles']:
  try:
    articles_title.append(d['article_title'])
    articles_date.append(d['date'])
  except:
    print(d)
    
with open('20192020Stock(2).json',encoding="utf-8") as f:
     data = json.load(f)
for d in data['articles']:
  try:
    articles_title.append(d['article_title'])
    articles_date.append(d['date'])
  except:
    print(d)

with open('20192020Stock(3).json',encoding="utf-8") as f:
     data = json.load(f)
for d in data['articles']:
  try:
    articles_title.append(d['article_title'])
    articles_date.append(d['date'])
  except:
    print(d)

{'error': 'invalid url'}
{'error': 'invalid url'}

In [25]:
df = pd.DataFrame({'date':articles_date,'article':articles_title})

In [26]:
df

                           date                       article
0      Mon Jan  1 09:23:39 2018             [新聞] 陸徵環保稅 台商負擔變重
1      Mon Jan  1 10:01:50 2018           [新聞] 政策年年改 嚴凱泰：無所適從
2      Mon Jan  1 12:13:32 2018                [標的] 3450 聯鈞 多
3      Mon Jan  1 13:04:00 2018                  [標的] 8039台虹多
4      Mon Jan  1 13:24:11 2018              [請益] 追高殺低長期能賺錢嗎?
...                         ...                           ...
68467  Thu Dec 31 22:59:09 2020              [請益] 違約交割處理後股票不見
68468  Thu Dec 31 23:01:35 2020                 [心得] 2020半年總結
68469  Thu Dec 31 23:04:54 2020            [心得] 2020 已實現損益分享
68470  Thu Dec 31 23:24:36 2020  [新聞] 2020台股封關兩樣情！這檔股票飆漲2314%
68471  Thu Dec 31 23:39:58 2020          [新聞] Intel股東建議外包晶片製造

[68472 rows x 2 columns]

In [27]:
df.to_csv('df.csv')

# Use jieba to implement Chinese word segmentation

In [28]:
article = pd.DataFrame({"Date":df['date'][0],
                        "articles":df['article'][0]},index=[0])
import jieba
jieba.set_dictionary('dict.txt.big.txt')    #switch the dictionary to traditional chinese version
jieba.load_userdict('Stocks_list.txt')      #Put the stock name into dictionary

Building prefix dict from /content/dict.txt.big.txt ...
Dumping model to file cache /tmp/jieba.u43f464b336de155982df71dc6a2e3f9e.cache
Loading model cost 1.804 seconds.
Prefix dict has been built successfully.

In [29]:
for i in range(0,len(df['article'])):
  text = df['article'][i]
  date = df['date'][i]
  try:
    wordlist = jieba.cut(text)
    words = ",".join(wordlist)
    words = words.split(',')
    for w in words:
      if w in stocks_list:
        new = pd.DataFrame({"Date": date,
                            "articles":text},index=[0])
        article = article.append(new,ignore_index=True)
  except:
    print(i, text, date)

23937 None Sun Feb 24 00:50:51 2019
23940 None Sun Feb 24 11:03:40 2019
39165 None Thu Jan  2 23:12:20 2020
53560 None Sun Jun  7 13:51:29 2020
64317 None Wed Oct 28 12:12:50 2020

In [30]:
article

                           Date                   articles
0      Mon Jan  1 09:23:39 2018          [新聞] 陸徵環保稅 台商負擔變重
1      Mon Jan  1 12:13:32 2018             [標的] 3450 聯鈞 多
2      Mon Jan  1 13:04:00 2018               [標的] 8039台虹多
3      Mon Jan  1 16:38:40 2018            [標的] 4401 東隆興 多
4      Mon Jan  1 16:53:39 2018             [標的] 6223 旺矽 多
...                         ...                        ...
26601  Thu Dec 31 21:14:58 2020         [標的] 6547 高端疫苗 長線多
26602  Thu Dec 31 21:17:47 2020   [新聞] 中華電賣華航持股 處分利益1668萬元
26603  Thu Dec 31 21:17:47 2020   [新聞] 中華電賣華航持股 處分利益1668萬元
26604  Thu Dec 31 21:21:53 2020   [新聞] 中信金、兆豐、上海3銀行拿到「新財管方
26605  Thu Dec 31 22:07:36 2020  [新聞] 〈可成售廠〉封關日完成交割 處分利益18

[26606 rows x 2 columns]

In [31]:
article.to_csv('article.csv')

In [32]:
import pandas as pd
df = pd.read_csv('article.csv', index_col=0)

In [33]:
df.drop([0])

                           Date                   articles
1      Mon Jan  1 12:13:32 2018             [標的] 3450 聯鈞 多
2      Mon Jan  1 13:04:00 2018               [標的] 8039台虹多
3      Mon Jan  1 16:38:40 2018            [標的] 4401 東隆興 多
4      Mon Jan  1 16:53:39 2018             [標的] 6223 旺矽 多
5      Mon Jan  1 21:12:25 2018               [標的] 4535 至興
...                         ...                        ...
26601  Thu Dec 31 21:14:58 2020         [標的] 6547 高端疫苗 長線多
26602  Thu Dec 31 21:17:47 2020   [新聞] 中華電賣華航持股 處分利益1668萬元
26603  Thu Dec 31 21:17:47 2020   [新聞] 中華電賣華航持股 處分利益1668萬元
26604  Thu Dec 31 21:21:53 2020   [新聞] 中信金、兆豐、上海3銀行拿到「新財管方
26605  Thu Dec 31 22:07:36 2020  [新聞] 〈可成售廠〉封關日完成交割 處分利益18

[26605 rows x 2 columns]